@font-face {
    font-family: "medio";
    src: url("fonts/medio.otf");
    font-family: "vogue";
    src: url("fonts/Vogue.ttf");
    font-family: "cocogoose heavy";
    src: url("")
}

* {
    font-family: vogue;
}

.topnav {
    font-size: 18px;
    top: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    background-color: white;
}

.topnav a {
    letter-spacing: 1px;
    color: #111;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    background-color: white;
    border: none;
}

.topnav a:hover {
    border-radius: 0;
    background-color: black;
    color: white;
    transition: 0.65s;
}

#offcanvasScrollingLabel {
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 40px;
    margin-left: 35px;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}

.offcanvas-header {
    padding-bottom: 10px;
}

#close-button {
    margin-top: 45px;
    font-size: 30px;
    background: none;
    border: none;
}

#close-button:hover {
    background-color: black;
    color: white;
    transition: 0.65s;
    border: 1px;
    border-radius: 1px;
}

.BULogo {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 20%;
    min-height: 200px;
    max-height: 300px;
    width: 20%;
    min-width: 200px; 
    max-width: 300px;
}

.about-me {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #111;
    text-align: center;
}

.about-me p {
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
    line-height: 175%;
}

#description {
    padding-top: 10px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.footer p {
    text-align: center;
}
  
nav li a i{
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 30px;
}
  
ul li a span{
    margin-left: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.social-media a:hover {
    z-index: 1;
    width: 100%;
    color: white;
    text-decoration: none;
}
  
ul li:hover a span{
    padding-left: 15%;
    display: block;
    text-decoration: none;
    width: 100%;
}

li:hover {
    z-index: 1;
    padding-left: 10%;
    background-color: black;
    width: 100%;
}
  
nav li{
    height: 60px;
    margin-top: 20px;
    position:relative;
    list-style: none;
    transition: all .3s linear;
 }
  
nav li a{
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left: 5%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.4); */
    transition: all .5s linear;
    text-decoration: none;
}
  
nav ul {
    padding-inline-start: 0;
    margin-left: 30px;
}