@font-face {
    font-family: "medio";
    src: url("fonts/medio.otf");
    font-family: "vogue";
    src: url("fonts/Vogue.ttf");
    font-family: "cocogoose heavy";
    src: url("")
}

* {
    font-family: vogue;
}

.topnav {
    top: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    background-color: white;
}

.topnav a {
    color: #111;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: black;
    color: white;
    transition: 0.65s;
}

.BULogo {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 25%;
    width: 25%;
}

.about-me {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #111;
    text-align: center;
}

.about-me p {
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
    line-height: 175%;
}

#description {
    padding-top: 10px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.footer p {
    text-align: center;
}