* {
    font-family: "Inter", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e8e8e8;
    /* overflow: hidden; */
    /* overscroll-behavior: none; */
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

.topnav {
    display: flex;
    justify-content: center;
    z-index: 999;
    font-size: 18px;
    top: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: sticky;
    background-color: #e8e8e8;
}

.topnav a {
    margin-top: 30px;
}

.topnav a,
#resume-download {
    text-transform: uppercase;
    font-family: "Outfit", serif;
    letter-spacing: 1px;
    color: #343333;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 4px 20px 0 rgba(0, 0, 0, 0.07);
}

.topnav a:hover{
    border-radius: 0;
    background-color: #343333;
    color: #af8900;
    transition: 0.65s;
}

.modal-image {
    max-width: 100%;
    height: auto;
} 

#offcanvasScrollingLabel {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: #4d4b4b;
    color: #e8e8e8;
    letter-spacing: 2px;
}

.offcanvas-header {
    padding-bottom: 10px;
}

#close-button {
    margin-top: 45px;
    font-size: 30px;
    background: none;
    border: none;
    padding: 5px;
}

nav li a i{
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 30px;
}
  
ul li a span{
    margin-left: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.social-media a:hover {
    z-index: 1;
    width: 100%;
    color: #e8e8e8;
    text-decoration: none;
}
  
ul li:hover a span{
    padding-left: 15%;
    display: block;
    text-decoration: none;
    width: 100%;
}

li:hover {
    z-index: 1;
    padding-left: 10%;
    background-color: #343333;
    width: 100%;
}
  
nav li{
    height: 60px;
    margin-top: 20px;
    position:relative;
    list-style: none;
    transition: all .3s linear;
 }
  
nav li a{
    color: #e8e8e8;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left: 5%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.4); */
    transition: all .5s linear;
    text-decoration: none;
}
  
nav ul {
    padding-inline-start: 0;
    margin-left: 30px;
}

#close-button:hover {
    background-color: #343333;
    color: #e8e8e8;
    transition: 0.35s;
    border: 1px;
    border-radius: 1px;
}

#name {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 55px;
    text-transform: uppercase;
}

#name-hr {
    margin-top: 15px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #111;
    opacity: 100;
    width: 20%;
}

.about-me {
    color: #111;
    text-align: center;
}

#bu-name {
    text-decoration: none;
    font-weight: bolder; 
    color: #a82c2c;
    margin-left: 2px;
    padding-left: 6px;
    padding-right: 4px;
    position: relative;
    overflow: hidden;
}

#bu-name:hover {
    color: #fffbec;
    background-color: #942727;
    transition: 0.5s;
    cursor: auto;
}

#description {
    padding-top: 10px;
    text-align: center;
    margin-left: 28px;
}

.bottom-element {
    height: 80%; 
    width: 80%;
}

#active {
    border-radius: 0;
    background-color: #343333;
    color: #e8e8e8;
}

#project-description {
    padding-top: 10px;
    margin-top: 30%;
    text-align: center;
    font-size: 30px;
}

.card {
    font-family: "Playfair-Display", serif;
    height: 90%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.6s ease-out;
    margin-bottom: 20px;
    background-color: rgb(207, 207, 207);
}

.card p-3 mb-2 {
    margin-bottom: 30px;
}

.col-md-4 {
    margin-bottom: 7%;
}

.mt-3 {
    margin-top: 0px !important;
}

.card h3 {
    font-size: 20px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.badge span {
    background-color: #fffbec;
    width: 65px;
    height: 30px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: rgb(247, 171, 48);
    justify-content: center;
    align-items: center;
}

.ms-2 {
    margin-left: 0;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: rgb(206, 152, 35);
}

.text1 {
    font-size: 14px;
    font-weight: 600;
}

.text2 {
    color: #a5aec0;
}

a {
    color: #111;
}

.gh-icon:hover {
    color: rgb(155, 98, 28);
    transition: 0.5s;
}

.gh-icon {
    margin-top: 5px;
    padding-top: 5px;
}

.js {
    color: #e34c26 !important;
}

.css {
    color: #caba40 !important;
}

.html {
    color: #68469b !important;
}

.py {
    color: #3376d4 !important;
}

.project-links {
    text-decoration: none;
}

#theme-mode {
    position: fixed;
    bottom: 150px;
    right: 35px;
    text-transform: uppercase;
    font-size: 14px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 4px;
    background-color: #b4b4b4;
    padding-top: 5px;
    padding-bottom: 5px;
}

#scrollToTopBtn {
    position: fixed;   
    bottom: 100px;
    right: 35px;
    height: 40px;
    width: 40px;
    padding-bottom: 3px;
    border: none;
    border-radius: 4px;
    background-color: #b4b4b4;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #e8e8e8;
}

.footer p {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topnav {
        flex-direction: row;
    }
    .topnav a {
        font-size: 18px;
        margin-top: 2px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .about-me p {
        max-width: 30ch;
    }
    .bottom-element {
        height: 80%; 
        width: 80%;
    }
    .col-md-4 {
        margin-bottom: 0%;
        margin-top: 0%;
        width: 85%;
    }
    #project-description {
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .mt-3 {
        margin-top: 0px !important;
    }
    .mt-4 {
        height: 110px;
    }
    .mt-5 {
        margin-top: 25px !important;
    }
    .row {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
    }
    .ms-2 {
        margin-left: 0 !important;
    }
    .card {
        margin-top: 5%;
    }
    .card:hover {
        transform: translateY(-10px);
        margin-bottom: 10px;
    }
    #theme-mode {
        bottom: 150px;
        right: 35px;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    #scrollToTopBtn {
        position: fixed;   
        bottom: 100px;
        right: 35px;
        height: 40px;
        width: 40px;
        padding-bottom: 3px;
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media screen and (min-width: 1600px) {
    .bottom-element {
        height: 50%; 
        width: 50%;
    }
}
@media screen and (min-width: 2600px) {
    .bottom-element {
        height: 35%; 
        width: 35%;
    }
}

/* dark mode color theme */
body.dark-mode,
.dark-mode .topnav, 
.dark-mode .footer {
    background: #414040;
}
.dark-mode h1,
.dark-mode h3,
.dark-mode p {
    color: #e8e8e8;
}
.dark-mode .topnav a {
    background-color: #111;
    color: rgb(212, 212, 212);
}
.dark-mode .topnav a:hover {
    color: #af8900;
    background-color: rgb(212, 212, 212);
}
.dark-mode #active {
    background-color: rgb(212, 212, 212);
    color: #111;
}
.dark-mode .badge span {
    background-color: #484745;
    color: rgb(247, 171, 48);
}
.dark-mode .card {
    background-color: rgb(36, 35, 34, 0.75);
    color: #e8e8e8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dark-mode .card:hover {
    background-color: rgb(135, 135, 135);
}
.dark-mode .card h3 {
    color: #e8e8e8;
}
.dark-mode .css {
    color: #e1c742 !important;
}
.dark-mode .project-links {
    color: #e8e8e8;
}
.dark-mode #offcanvasScrollingLabel {
    color: #e8e8e8;
    background-color: #343333;
}
.dark-mode #close-button:hover {
    background-color: #343333;
    color: #e8e8e8;
}
.dark-mode nav li a{
    color: #2b2b2b;
}
.dark-mode #scrollToTopBtn{
    background-color: #e8e8e8;
}
.dark-mode #theme-mode{
    background-color: #e8e8e8;
}